@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}



h1 {
    font-size: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    margin-bottom: 1rem;
    margin-top:1rem;
   
}

/*Carousel Ecommerce*/
.product {
    position: relative;
    overflow: hidden;
    padding: 1rem;
    margin-top: -2rem;
}

.productCategory {
    padding: 0 10vw;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 4rem;
    text-transform: capitalize;
    text-align: center;
}

.productContainer {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smoth;
    margin-top: -2rem;
}

.productContainer::-webkit-scrollbar {
    display: none;
}

.productCard {
    flex: 0 0 auto;
    width:25rem;
    height: 45rem;
    margin-right: 4rem;
    position: relative;
}

.imageCard {
    position: relative;
    width: 100%;
    height: 35rem;
    overflow: hidden;
}

.productThumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.labelDescount {
    position: absolute;
    background-color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    color: #009688;
    right: 1rem;
    top: 1rem;
    text-transform: capitalize;
}

.btnCard {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: .5rem;
    transition:.5s;
    cursor:pointer;
    opacity: 0;
}

.productCard:hover .btnCard {
    opacity: 1;
}

.btnCard:hover {
    background-color: #009688;
    color: #fff;
}

.productInfo {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}

.productBrand {
    text-transform: uppercase;
}

.productDescription {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    opacity: .5;
    text-transform: capitalize;
    margin: .5rem 0;
}

.price {
    font-weight: 900;
    font-size: 2rem;
}

.actualPrice {
    margin-left: 2rem;
    opacity: .5s;
    text-decoration: line-through;
}

.prevBtn, .nextBtn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 4;
}

.prevBtn {
    left: 0;
}

.nextBtn {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.prevBtn i, .nextBtn i {
    opacity: .2;
}

.prevBtn i:hover, .nextBtn i:hover {
    opacity: 1;
}
/*End of Carousel Ecommerce  I stop in 9minutes and 20 seconds*/

.search {
    position: absolute;
    height: 50px;
    z-index: 9999;
    margin-top: -39px;
}


.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    margin-top: 35px;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    margin-top: 35px;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}
